{% extends 'wall/post_list.html' %}
{% block 'content' %}
{% load static %}
{% load social_widgets %}

<div id="global-map">map</div>

<script>
    function initMap() {
        map = new OpenLayers.Map("global-map");
        map.addLayer(new OpenLayers.Layer.OSM());
        var places = [
            {% for post in object_list %}
                ['{{ post.title }}', {{ post.lat }}, {{ post.lon }}, {{ forloop.counter }}],
            {% endfor %}
        ];
        for (var i = 0; i < places.length; i++) {
            var place = places[i];
            var lonLat = new OpenLayers.LonLat(place[2], place[1])
                .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                );
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);
            markers.addMarker(new OpenLayers.Marker(lonLat));
        };
        map.setCenter (0, 0);
    };

    </script>
{% endblock %}