<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ASANBlog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Wh9y-iDmfYfB5xfA2dgu-ownSHL-AUo&callback=initMap">
    </script>

</head>
<body>
<h1>about something and nothing...</h1>
<ul>
    {% for post in object_list %}
    <li>
        {{ post.date }}<br>
        <h2>{{ post.title }}</h2><br>
        <img id="post-{{ forloop.counter }}" src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="map" id="map-{{ forloop.counter }}"></div>
    </li>
    <script>
    var url = $("#post-{{ forloop.counter }}").attr('src')
    .replace('/view?usp=drivesdk','')
    .replace('https://drive.google.com/file/d/', 'https://drive.google.com/uc?export=view&id=');
    $("#post-{{ forloop.counter }}").attr("src", url);
    </script>
    {% endfor %}

    <script>
    function initMap() {
        {% for post in object_list %}
        var place = {lat: {{ post.lat }}, lng: {{ post.lon }} };
        var map = new google.maps.Map($("#map-{{ forloop.counter }}")[0], {
          zoom: 14,
          center: place,
          mapTypeId: google.maps.MapTypeId.HYBRID
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
        {% endfor %}
      }
    </script>
</ul>
</body>
</html>