<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load social_widgets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>asanblog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Wh9y-iDmfYfB5xfA2dgu-ownSHL-AUo&callback=initMap">
    </script>
</head>
<body>
<div class="stripe"></div>
<div class="button" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="header container-fluid">
        <h1 id="title">about something and nothing...</h1>
        <h5>~ by adrian borkowski</h5>
    </div>

    {% block 'content' %}
    {% for post in object_list %}
        <div class="post container-fluid" id="{{ forloop.counter }}">
            <div class="title"><h1>{{ post.title }}</h1></div>
            <div class="date"><h6>added: {{ post.date }}</h6></div>
            <img class="img-responsive hidden" id="post-{{ forloop.counter }}" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="menu-bar">
                <button class="map-button" id="btn-{{ forloop.counter }}">show on map</button>
                <button class="share-button">
                    {% social_widget_render "facebook/share_button.html" href="#{{ forloop.counter }}" layout="button" size="large" %}
                </button>
            </div>
            <div class="map" id="map-{{ forloop.counter }}"></div>
        </div>
    {% endfor %}

    {% endblock %}
    <div class="container-fluid" id="footer">© 2018
        <a href="https://adrianborkowski.github.io/" target="blank">adrianborkowski</a>. all rights reserved.</div>

    <script>
    {% for post in object_list %}
    var url = $("#post-{{ forloop.counter }}").attr('src')
    .replace('/view?usp=drivesdk','')
    .replace('https://drive.google.com/file/d/', 'https://drive.google.com/uc?export=view&id=');
    $("#post-{{ forloop.counter }}").attr("src", url);
    {% endfor %}

    $(document).ready(function showHide() {
        {% for post in object_list %}
            $("#btn-{{ forloop.counter }}").click(function() {
                $("#map-{{ forloop.counter }}").slideToggle('fast', function initMap() {
                    var place = {lat: {{ post.lat }}, lng: {{ post.lon }} };
                    var map = new google.maps.Map($("#map-{{ forloop.counter }}")[0], {
                      zoom: 15,
                      center: place,
                      mapTypeId: google.maps.MapTypeId.HYBRID
                    });
                    var marker = new google.maps.Marker({
                      position: place,
                      map: map
                    });
                });
            });
        {% endfor %}
    });

    function myFunction(x) {
        x.classList.toggle("change");
    }

    $(document).ready(function() {
        $('img').on('load', function(){
            $('img').removeClass('hidden');
        });
    });
    </script>
</body>
</html>