<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>asanblog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Wh9y-iDmfYfB5xfA2dgu-ownSHL-AUo&callback=initMap">
    </script>

</head>
<body>
<!-- <div class="stripe"></div> -->
<div class="container-fluid">
    <div class="header">
        <h1>about something and nothing...</h1>
        <h6>~ by adi</h6>
    </div>
    {% for post in object_list %}
        <div class="date"><h6>{{ post.date }}</h6></div>
        <div class="title"><h1>{{ post.title }}</h1></div>
        <div class="content">
            <img class="img-responsive" id="post-{{ forloop.counter }}" src="{{ post.image.url }}" alt="{{ post.title }}">
            <button id="btn-{{ forloop.counter }}">show on map</button>
            <div class="map" id="map-{{ forloop.counter }}"></div>
        </div>
    {% endfor %}

    <script>
    {% for post in object_list %}
    var url = $("#post-{{ forloop.counter }}").attr('src')
    .replace('/view?usp=drivesdk','')
    .replace('https://drive.google.com/file/d/', 'https://drive.google.com/uc?export=view&id=');
    $("#post-{{ forloop.counter }}").attr("src", url);
    {% endfor %}

    function initMap() {
        {% for post in object_list %}
        var place = {lat: {{ post.lat }}, lng: {{ post.lon }} };
        var map = new google.maps.Map($("#map-{{ forloop.counter }}")[0], {
          zoom: 14,
          center: place,
          mapTypeId: google.maps.MapTypeId.HYBRID
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
        {% endfor %}
      };

    $(document).ready(function showHide() {
    {% for post in object_list %}
        $("#btn-{{ forloop.counter }}").click(function clck(){
            $("#map-{{ forloop.counter }}").slideToggle();
        });
    {% endfor %}
    });
    </script>
</div>
</body>
</html>