body {
    font-family: 'Days One', sans-serif;
    // background-color:  #e6e6ff;
}

.container-fluid {
    padding: 0px;
}

.stripe {
    background-color: #262626;
    height: 2vh;
}

.header {
    padding-top: 10vh;
    height: 33vh;
    text-align: center;
}

.date {

}

.title, .date{
    background-color: #262626;
    color:white;
    padding-left: 5vw;
}

.btn{
    border-radius: 0px;
    width: 100%;
    color: white;
    background-color: #262626;
}

.map {
    width: 100%;
    height: 50vh;
    margin: auto;
    display: none;
    border: 5px solid #262626;
}

.content {
        margin-bottom:15vh;
}

#footer{
    height:8vh;
    background-color: #262626;
    color: white;
    text-align: center;
}


// menu icon

.button {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border: 1px solid white;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}