body {
    font-family: 'Days One', sans-serif;
    // background-color:  #e6e6ff;
}

.container-fluid {
    padding: 0px;
}

.stripe {
    background-color: #262626;
    height: 2vh;
}

.header {
    padding-top: 10vh;
    height: 45vh;
    text-align: center;
}

.date {

}

.title, .date{
    background-color: #262626;
    color:white;
    padding-left: 5vw;
}

.btn{
    border-radius: 0px;
    width: 100%;
    color: white;
    background-color: #262626;
}

.map {
    width: 60%;
    height: 40vh;
    margin: auto;
    display: none;
    border: 5px solid #262626;
}

.content {
        margin-bottom:15vh;
}

